{{- $productKey := .Get "product" -}}
{{- $merchantArg := .Get "merchant" -}}
{{- $text := .Get "text" | default "Check price" -}}
{{- $products := site.Data.affiliates.products -}}
{{- $product := index $products $productKey -}}
{{- if not $product -}}
  <span class="opacity-70 text-sm">Link coming soon</span>
{{- else -}}
  {{- $merchant := $merchantArg | default $product.defaultMerchant -}}
  {{- $link := index $product.links $merchant -}}
  {{- $url := "" -}}
  {{- if $link }}{{ $url = $link.url }}{{ end -}}
  {{- if or (not $url) (eq $url "REPLACE_ME") -}}
    <span class="opacity-70 text-sm">Link coming soon</span>
  {{- else -}}
    <a href="{{ $url }}" target="_blank" rel="nofollow sponsored noopener noreferrer" data-calv-event="outbound_affiliate_click" data-calv-retailer="{{ $merchant }}">{{ $text }}</a>
  {{- end -}}
{{- end -}}
